<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>

    <% results.forEach(function(result) { %>
        <p><%= result.name %></p>
        <p>Visits: <%= result.visits %></p>
        <p>Impressions: <%= result.impressions %></p>
        <p>Browser: <%= result.browsers %></p>
        <p>Devices: <%= result.devices %></p>
        <p>Changes: <%= result.changes %></p>
        <p>Comments: <%= result.comments %></p>
    <% }); %>

</body>
</html>